version: '3.9'

services:
  app:
    build: .
    container_name: todo-app
    environment:
      - Database_URL=postgresql://postgres:postgres@db:5432/todoapp
      - JWT_SECRET=secret_jwt_key
      - NODE_ENV=development
      - PORT=5000
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - .:/app

  
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: user123
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: db123
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data: