.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.background-colour {
    background-color: var(--bg-colour);
}

.text-colour {
    color: var(--text-colour);
}

.font-inter {
    font-family: var(--font-family);
}

.f-16 {
    font-size: 16px;
}

.login__page{
    height: 100vh;
    width: 100vw;
}

.login__box {
    height: 600px;
    width: 400px;
    border-radius: 16px;
    border: 1px solid var(--text-muted);
}

.login__title {
    font-size: 36px;
    font-weight: 900;
}

.login__form {
    width: 80%
}

.login__input{
    margin-bottom: 16px;
    border: none;
    border-bottom: 1px solid var(--text-colour);
}

.login__input:focus {
    outline: 0;
}

.login_links {
    align-self: flex-start;
    margin-bottom: 8px;
    font-size: 14px;
    text-decoration: none;
}

.login_links:hover {
    text-decoration: underline;
}

.login__button {
    height: 40px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid var(--text-muted);
    background-color: var(--button-colour);
    transition: background-color 0.2s;
}

.login__button:hover {
    background-color: var(--button-hover-colour);
}

.dashboard {
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.taskpage {
    width: 100%;
}

.task__title {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* .task__list{} */

.checkbox {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: var(--text-muted);
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}

.checkbox:checked {
    background-color: #4BB543;
}

.checkbox:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox:checked + label {
    text-decoration: line-through;
    color: var(--text-muted);
}

.sidebar {
    background-color: var(--bg-box-colour);
}

.sidebar__nav {
    width: 200px;
}

.sidebar__username {
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 20px;
}

.sidebar__link {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 30px;
}